
{% if list|length %}


<div class="row list-header">

	<div class="col-xs-2">
		<span>Id</span>
	</div>

	<div class="col-xs-4">
		<span>Name</span>
	</div>

	<div class="col-xs-4">
		<span>Email</span>
	</div>

	<div class="col-xs-2">
		<span>Locale</span>
	</div>

</div>


{% for item in list %}

<div class="row list-item">

	<div class="col-xs-2">
		<span>{{ item.id }}</span>
	</div>

	<div class="col-xs-4">
		<span>{{ item.name }}</span>
	</div>

	<div class="col-xs-4">
		<span>{{ item.mail }}</span>
	</div>

	<div class="col-xs-2">
		<span>{{ item.locale }}</span>
	</div>

</div>

{% endfor %}


{% endif %}
