
{% if list|length %}



{% for item in list %}

<div class="row list-item">

	<div class="col-xs-8">
		<span>{{ item.subject }}</span>
	</div>

	<div class="col-xs-2">
		<span>{{ item.created|date('d/m/Y') }}</span>
	</div>

	<div class="col-xs-2">
		<span><a class="btn btn-default" href="{{ path('maci_mailer_show', {'token': item.token}) }}" target="_blank">Show</a></span>
	</div>

</div>

{% endfor %}


{% endif %}
