
{% extends "MaciMailerBundle::layout.html.twig" %}


{% block content %}

<div class="page_container">

<h1>Notifications</h1>

{% include 'MaciMailerBundle:Mailer:_notifications.html.twig' with {'list': list} %}

</div>

{% endblock %}

