
{% extends "MaciMailerBundle::layout.html.twig" %}


{% block content %}

<section class="page_container row">

<h3>My Mails</h3>

{% include 'MaciMailerBundle:Mailer:_user_mails.html.twig' with {'list': list} %}

</section>

{% endblock %}

